body {
    padding-top: 90 px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
span.field-validation-error{
    font-weight:bold;
    color:red;
}


/*Page level styles*/
.congregrations {
    list-style: none;
}
.congregrations > li {
    position: relative;
    margin-bottom: 30px;
}
.congregrations > li .date {
       background:red;
        color: white;
        text-align: center;
        width:60px;
        border-radius:8px;
    }

.congregrations > li .date .month {
       text-transform:uppercase;
       font-size:14px;
       font-weight:bold;
       padding: 2px 6px;
    }

.congregrations > li .date .day {
       background:#f7f7f7;
       color:#333; 
       font-size:20px;
       padding:6px 12px;
    }

.congregrations > li .details{
    position:absolute;
    top:0;
    left:70px;
}

    .congregrations > li .details .speaker {
        font-weight: bold;
        display: block;
    }

    .congregrations > li .details .genre {
        font-size:16px;
    }

    .congregrations > li .actions {
        font-size: 16px;
        display:none;
    }

    .congregrations > li:hover .actions {
        
        display: block;
    }

ul .notifications {
    list-style: none;
    padding-left: 0;
}

    ul .notifications > li {
        border-bottom: 1px solid #808080;
        padding: 10px 0;
    }

     ul .notifications > li:last-child {
            border-bottom: none;
        }

 

    .navbar-inverse .notifications{
        position:relative;
    }

    .navbar-inverse .notifications .badge{
    position: absolute;
    top:0;
    
     }

